html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}   

h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #363636;
    color: #DDFFF7;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section {
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Container */
.container {
    max-width: 100%;
    padding: 1rem 1rem;
}

/* Header */
header {
    background-color: #AA4465;
    color: #DDFFF7;
    text-align: center;
    width: 100%;
    position: relative;
}
.header-container {
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

/* About Section */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 1rem;
}

.about-text {
    border: #AA4465 4px solid;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 200; /* thin */
}

.me-img {
    width: min(250px, 60vw);
    height: auto;
    border-radius: 1rem; /* rounded corners */
    border: 1px solid #93E1D8;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 1rem;
    transition: 0.3s ease; /* IMPORTANT for smooth glow */

}

.me-img:hover {
    box-shadow: 0 0 20px #93E1D8;
    transform: scale(1.03); /* optional subtle zoom */
}


.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Contact card visual */
.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DDFFF7;
}

.contact-card a {
    color: #DDFFF7;
    text-decoration: none;
}

.contact-item {
    display: flex;
    gap: 1rem;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #AA4465;
    color: #DDFFF7;
    overflow: visible; /* allow SVG to slightly overflow */

}

.contact-icon svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
    color: inherit;
}

.contact-card p{
    margin: 0;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
}

/* Projects Section */

.projects-section {
    max-width: 90%;
    margin: 2rem auto;
    display: grid;
}

.projects-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    align-items: stretch;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: #4c4c4c;
    border: 1px solid #93E1D8;
    padding: 1rem;
    border-radius: 1rem;
    color: #b2eae4;
    transition: all 0.3s;
    text-decoration: none;
    height: 100%;
}

.project-card:hover {
    transform: translateY(-5px);
    background-color: #b2eae4;
    border: 5px solid #93E1D8;
    color: #363636;
}

.project-card h3 {
    margin-bottom: 0.5rem;
}

.project-tags {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.project-tags span {
    font-size: 0.8rem;  
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #B2EAE4;
    background-color: #DDFFF7;
    color: #363636;
}

.project-card:hover .project-tags span {
    border: 3px solid #B2EAE4;
    background-color: #363636;
    color: #DDFFF7;
}

.description {
    margin: 0.5rem 0 1rem 0;    
    font-size: 0.95rem;
    text-align: left;
}


/* Skills Section */

.skills {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 85%;
}
.skills h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
}
.skill-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    cursor: default;
    transition: transform 0.3s, box-shadow 0.3s;
    color: black;
}
.skill-box img {
    width: 24px;
    height: 24px;
}
.skill-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}


/* Skill Colors */
.skill-java { background-color: #e9e0d9; }
.skill-spring { background-color: #656e7d; color: whitesmoke; }
.skill-go { background-color: #9cc5b9; }
.skill-mongodb { background-color: #8cc9e3; }
.skill-sqlite { background-color: #afacec; }
.skill-javascript { background-color: #d596b0 }
.skill-graphql { background-color: #f6e6a6; }
.skill-postman { background-color: #f8c7a4; }
.skill-docker { background-color: #e8a6a6; }
.skill-angular { background-color: #aed5e8; }
.skill-html { background-color: #fad89d; }
.skill-css { background-color: #a6bdf1; }
.skill-socketio { background-color: #8fc1a1; }

/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background-color: #AA4465;
    color: #DDFFF7;
    width: 100%;
}

footer a {
    color: #DDFFF7;
    font-style: italic;
}




/* Responsive — stack on small screens */
@media (max-width: 500px) {

    header h1 {
        font-size: 1.8rem;
    }

    .about {
        padding: 0 1rem;
        max-width: 95%;
    }

    .me-img {
        max-width: 70vw;
    }

    .projects-section {
        max-width: 95vw;
    }

    .skills{
        max-width: 95vw;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .project-card {
        padding: 0.75rem;
    }

    footer {
        padding: 1.5rem 1rem;
    }
}
